<a href="https://colab.research.google.com/github/TBFY/api-gateway/blob/master/notebooks/TBFY_API_Gateway.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![TBFY-Banner](https://raw.githubusercontent.com/TBFY/general/master/figures/tbfy-banner.png)

# **List of awardees**
This notebook is an example of how to use a new resource created that shows a list of all the organisations that have been awarded. This resource is called "/supplier" and has been created in response to the needs of some business cases.

The resource has several fully customizable filters. Depending on the number of filters used, the response time may be affected.

In [23]:
import requests
import pandas as pd
from IPython.display import display, HTML

Buscamos en el endpoint las organizaciones que cumplan tal requisito, en este caso vamos a intentar poner las organizaciones que tengan peug en el nombre

Extraemos la informacion de la organización elegida con la core

In [51]:
#@title Information of an Organisation

id = ""
jur = ""

id =  "gb-00148545"#@param {type:"string"}

params = 'http://tbfy.librairy.linkeddata.es/api/organisation/' + id
print ('Requesting : ' + params )
print()
resp = requests.get(params)
if resp.status_code != 200:
    # This means something went wrong.
    raise ApiError('GET /tasks/ {}'.format(resp.status_code))

lista=[]
for items in resp.json():
  lista.append(resp.json())
i=0
df = pd.DataFrame(columns=['legalName', 'organisation', 'employees', 'founding_date', 'activity', 'address', 'postal_code', 'locality'])
for todo_item in lista:
  df.loc[i] = [todo_item['legalName'],todo_item['id'],todo_item['numberOfEmployees'],todo_item['foundingDate'],todo_item['activity'],todo_item['fullAddress']['address'],todo_item['fullAddress']['postCode'],todo_item['fullAddress']['postName']]

display(HTML(df.to_html(justify='left')))

Requesting : http://tbfy.librairy.linkeddata.es/api/organisation/gb-00148545

Procesos de contratación en los que ha participado a través de core API

In [53]:
params = 'http://tbfy.librairy.linkeddata.es/api/organisation/' + id + '/contractingProcess'
print ('Requesting : ' + params )
print()
resp = requests.get(params)

if resp.status_code != 200:
    # This means something went wrong.
    raise ApiError('GET /tasks/ {}'.format(resp.status_code))

i=0
df = pd.DataFrame(columns=['contracting_process_id'])
for todo_item in resp.json():
  df.loc[i] = [todo_item['id']]
  i+=1

display(HTML(df.to_html(justify='left')))

Requesting : http://tbfy.librairy.linkeddata.es/api/organisation/gb-00148545/contractingProcess

#Reconciliation

Once we have a list of awardees we can also match organisation names to legal corporate entities using the OpenRefine Reconciliation API

In [ ]:
#@title Reconcile Suppliers

name_org =  ""#@param {type:"string"}
newname= name_org.replace(" ", "+")
jurisdiction = "es" #@param ["gb", "es", "fr", "it", "pt", "no"] {type:"string"}  

params = 'https://opencorporates.com/reconcile/' + jurisdiction + '?query=' + newname
resp = requests.get(params)

print ('Requesting : ' + params )
print ()
json_val = resp.json()['result']

if resp.status_code != 200:
    # This means something went wrong.
    raise ApiError('GET /tasks/ {}'.format(resp.status_code))

df = pd.DataFrame(columns=['id', 'name', 'score', 'match', 'uri'])
i=0
for todo_item in json_val:
  new_id = todo_item['id'].replace("/companies/","")
  new_id = new_id.replace("/","-")
  df.loc[i] = [new_id, todo_item['name'], todo_item['score'], todo_item['match'], todo_item['uri']]
  i+=1

display(HTML(df.to_html(justify='left')))